reportlab
Authlib==1.6.0
blinker==1.9.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comtypes==1.4.12
contourpy==1.3.3
cryptography==45.0.4
cycler==0.12.1
decorator==5.2.1
et_xmlfile==2.0.0
filelock==3.18.0
Flask==3.1.1
flask-cors==6.0.1
fonttools==4.62.0
fpdf==1.7.2
fsspec==2025.5.1
future==1.0.0
geocoder==1.38.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.5.0
MarkupSafe==3.0.2
matplotlib==3.10.8
MouseInfo==0.1.3
mpmath==1.3.0
networkx==3.5
nltk==3.9.1
numpy==2.3.0
openpyxl==3.1.5
packaging==26.0
pandas==2.3.0
pillow==12.1.1
PyAutoGUI==0.9.54
pycparser==2.22
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
pyttsx3==2.99
pytweening==1.2.0
pytz==2025.2
pywin32==311
ratelim==0.1.6
regex==2024.11.6
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
torch==2.7.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3